# Virtual Environment
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test cache
.pytest_cache/
.coverage
htmlcov/

# Python
*.egg-info/
dist/
build/